<p id="notice"><%= notice %></p>

<h1>Airlines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airlines.each do |airline| %>
      <tr>
        <td><%= airline.name %></td>
        <td><%= link_to 'Show', airline %></td>
        <td><%= link_to 'Edit', edit_airline_path(airline) %></td>
        <td><%= link_to 'Destroy', airline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airline', new_airline_path %>
